.list-inline-item {
	padding-right: 15px;
}

select, select.form-control {
	border-radius: 0px;
}

.required:after {
content:" *";
color: red;
}

select.form-control, textarea.form-control {
	border-radius: 0px;
	border-color: #6b7280;
}